<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#bb1616"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

    <!-- TODO add manifest here -->
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Mood Analyzer App">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <!-- <link rel="apple-touch-startup-image" href="/launch.png"> -->
    <title>Mood Analyzer App</title>
  </head>

  <body>
    <div class="mood-box box">
      <div class="mood">
        <h1>Hey buddy! How's your mood?</h1>
        <h6>(Choose from the below moods)</h6>
        <div class="mood-scale">
          <ul>
            <% for(var i=0; i < moodtypes.length; i++) { %>
              <li>
                <button id="btn-<%= moodtypes[i].mood_id %>" data-id="<%= moodtypes[i].mood_id%>" class="mood-btn">
                  <img src="images/<%= moodtypes[i].mood_type %>.png" data-id="<%= moodtypes[i].mood_id
                  %>" alt=<%= moodtypes[i].mood_type %> />
                </button>
                <span><%= moodtypes[i].mood_type %></span>
              </li>
            <%}%>
          </ul>
        </div>
      </div>
      <div class="comments">
        <h1>Let's Talk!</h1>
        <div class="comments-form">
          <form action="/addHappyIndex" method="POST">
            <input type="text" placeholder="Ram" label="Name" aria-label="Ram" name="name" />
            <input type="hidden" name="mood_type" aria-label="Mood Type" id ="mood_type" value="" />
            <textarea
              class="width-100"
              placeholder="We would love to hear from you!"
              id="comment_area"
              label="Comment"
              aria-label="Comment" 
              rows="6"
              name="message"
              required
            ></textarea>
            <button type="submit" value="Post">Submit</button>
            <button type="button" id="cancel">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/main.js"  type="module"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
