<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"
      rel="stylesheet"
    />
    <title>Mood Analzer App</title>
  </head>

  <body>
    <div class="mood-box box">
      <div class="mood">
        <h1>Hey buddy! How's your mood?</h1>
        <div class="mood-scale">
          <% for(var i=0; i < moodtypes.length; i++) { %>
          <!-- <h1><%= moodtypes[i].mood_type %></h1> -->
          <button id="btn-<%= moodtypes[i].mood_type %>" data-id="<%= moodtypes[i].mood_id%>" >
            <img src="images/<%= moodtypes[i].mood_type %>.png" data-id="<%= moodtypes[i].mood_id
            %>" alt=<%= moodtypes[i].mood_type %> />
          </button>
          <!-- <button id="btn-stressed"><img src="images/mood_02.png" alt="Stressed" /></button>
                <button id="btn-normal"><img src="images/mood_03.png" alt="Normal" /></button>
                <button id="btn-happy"><img src="images/mood_04.png" alt="Happy" /></button> -->
          <%}%>
        </div>
      </div>
      <div class="comments">
        <h1>Let's Talk!</h1>
        <div class="comments-form">
          <form action="/addHappyIndex" method="POST">
            <input type="text" placeholder="John" label="Name" name="name" />
            <input type="hidden" name="mood_type" id ="mood_type" value="" />
            <textarea
              class="width-100"
              placeholder="We would love to hear from you!"
              id="comment_area"
              label="Comment"
              rows="6"
              name="message"
              required
            ></textarea>
            <button type="submit" value="Post">Submit</button>
            <button type="button" id="back">Back</button>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>

<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Basic App</title>
    </head>

    <body>
        <h1>Happy Index Application </h1>
        <form method="post" action="/addHappyIndex">
            <input type="text" name="name" placeholder="Enter Name..." required>
            <input type="text" name="mood_type" placeholder="Enter Your mood..." required>
            <input type="submit" value="Add Name">
        </form>
        
    </body>

</html> -->
